name: Update Deployment Manifest

on:
  workflow_run:
    workflows: ["CI/CD Pipeline"]
    types: [completed]
    branches:
      - main
      - dev

jobs:
  update-prod:
    if: github.event.workflow_run.conclusion == 'success' &&
      github.event.workflow_run.head_branch == 'main'

    uses: coendv/app22-deploy/.github/workflows/update-image-digest.yml@main
    with:
      service-name: UserService
      image-name: ghcr.io/coendv/group1-userservice
      environment: prod
      branch: main
    secrets:
      DEPLOY_REPO_TOKEN: ${{ secrets.DEPLOY_REPO_TOKEN }}

  update-test:
    if: github.event.workflow_run.conclusion == 'success' &&
      github.event.workflow_run.head_branch == 'dev'

    uses: coendv/app22-deploy/.github/workflows/update-image-digest.yml@main
    with:
      service-name: UserService
      image-name: ghcr.io/coendv/group1-userservice
      environment: test
      branch: dev
    secrets:
      DEPLOY_REPO_TOKEN: ${{ secrets.DEPLOY_REPO_TOKEN }}
